body {
  background-color: #C1c8e4
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.matt-image {
  width: 30%;
  max-width: 300px;
}

.wine-color {
  /* display: flex; */
  margin: 15px;
}

.wine-glasses {
  display: flex;
  align-content: center;
  justify-content: center;

}

.wine-glasses a {
  min-width: 200px;
  max-width: 400px;
  flex-basis: auto;
  flex-grow: 1;
}

.red-wine-glass {
  border: 5px solid #8860d0;
  border-radius: 15px;
  width: 80%;
  height: 80%;
  transition: 1s ease;
}

.red-wine-glass:hover {
  transform: scale(1.2);
  transition: 1s ease;
}


.white-wine-glass {
  border: 5px solid #8860d0;
  border-radius: 15px;
  width: 80%;
  height: 80%;
  transition: 1s ease;
}

.white-wine-glass:hover {
  transform: scale(1.2);
  transition: 1s ease;
}

.wine-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.red-wine-wheel-image {
  width: 60%;
  height: 60%;
}


.wine-style-choice-red {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-basis: 80%;
}

.wine-style-choice-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-basis: 80%;
}

.wine-one a {
  flex-basis: 50%;
  max-width: 500px;
}

.wine-two a {
  flex-basis: 50%;
  max-width: 500px;
}

.wine-three a {
  flex-basis: 50%;
  max-width: 500px;
}

.wine-four a {
  flex-basis: 50%;
  max-width: 500px;
}

.wine-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}


.wine-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.wine-three {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.wine-four {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.wine-style-choice-red h1 {
  font-family: 'Oldenburg', cursive;
}

.wine-style-choice-red .wine-one-button {
  border: 5px solid #5680e9;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  flex-basis: 500px;
  /* width: 500px ; */
  margin: 15px 0;
  padding: 15px;
  background-color: #BF1E40;
  color: white;
  font-family: 'KoHo', sans-serif;
}

.wine-one-button h3 {
  font-size: 25px;
  transition: .5s ease;
}

.wine-one-button:hover {
  box-shadow: 0 0 0 10px #ac4ac6;
  transition: .5s ease;
}

.wine-two-button:hover {
  box-shadow: 0 0 0 10px #ac4ac6;
  transition: .5s ease;
}

.wine-three-button:hover {
  box-shadow: 0 0 0 10px #ac4ac6;
  transition: .5s ease;
}

.wine-four-button:hover {
  box-shadow: 0 0 0 10px #ac4ac6;
  transition: .5s ease;
}


.wine-style-choice-red .wine-two-button {
  border: 5px solid #5680e9;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  padding: 15px;
  background-color: #A01B30;
  color: white;
  font-family: 'KoHo', sans-serif;
}

.wine-two-button h3 {
  font-size: 25px;
  transition: .5s ease;
}

.wine-style-choice-red .wine-three-button {
  border: 5px solid #5680e9;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  padding: 15px;
  background-color: #7E1126;
  color: white;
  font-family: 'KoHo', sans-serif;
}

.wine-three-button h3 {
  font-size: 25px;
  transition: .5s ease;
}

.wine-style-choice-red .wine-four-button {
  border: 5px solid #5680e9;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  padding: 15px;
  background-color: #4C0A18;
  color: white;
  font-family: 'KoHo', sans-serif;
}

.wine-four-button h3 {
  font-size: 25px;
  transition: .5s ease;
}

.wine-style-choice-red .wine-one-description {
  border: 5px solid #5680e9;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  text-align: justify;
  background-color: #BF1E40;
  color: white;
  font-family: 'KoHo', sans-serif;
  font-size: 20px;
}

.wine-style-choice-red .wine-two-description {
  border: 5px solid #5680e9;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  text-align: justify;
  background-color: #A01B30;
  color: white;
  font-family: 'KoHo', sans-serif;
  font-size: 20px;
}

.wine-style-choice-red .wine-three-description {
  border: 5px solid #5680e9;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  text-align: justify;
  background-color: #7E1126;
  color: white;
  font-family: 'KoHo', sans-serif;
  font-size: 20px;
}

.wine-style-choice-red .wine-four-description {
  border: 5px solid #5680e9;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  text-align: justify;
  background-color: #4C0A18;
  color: white;
  font-family: 'KoHo', sans-serif;
  font-size: 20px;
}

.wine-style-choice-white h1 {
  font-family: 'Oldenburg', cursive;
}

.wine-style-choice-white .wine-one-button {
  border: 5px solid #84ceeb;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  padding: 15px;
  background-color: #F4FEBF;
  font-family: 'KoHo', sans-serif;
}

.wine-style-choice-white .wine-two-button {
  border: 5px solid #84ceeb;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  padding: 15px;
  background-color: #F7F69C;
  font-family: 'KoHo', sans-serif;
}

.wine-style-choice-white .wine-three-button {
  border: 5px solid #84ceeb;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  padding: 15px;
  background-color: #EDE262;
  font-family: 'KoHo', sans-serif;
}

.wine-style-choice-white .wine-four-button {
  border: 5px solid #84ceeb;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  padding: 15px;
  background-color: #D9B753;
  font-family: 'KoHo', sans-serif;
}

.wine-style-choice-white .wine-one-description {
  border: 5px solid #84ceeb;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  text-align: justify;
  background-color: #F4FEBF;
  font-family: 'KoHo', sans-serif;
  font-size: 17px;
}

.wine-style-choice-white .wine-two-description {
  border: 5px solid #84ceeb;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  text-align: justify;
  background-color: #F7F69C;
  font-family: 'KoHo', sans-serif;
  font-size: 17px;
}

.wine-style-choice-white .wine-three-description {
  border: 5px solid #84ceeb;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  text-align: justify;
  background-color: #EDE262;
  font-family: 'KoHo', sans-serif;
  font-size: 17px;
}

.wine-style-choice-white .wine-four-description {
  border: 5px solid #84ceeb;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  text-align: justify;
  background-color: #D9B753;
  font-family: 'KoHo', sans-serif;
  font-size: 17px;
}

.wine-one-description p {
  margin: 7%;
}

.wine-two-description p {
  margin: 7%;
}

.wine-three-description p {
  margin: 7%;
}

.wine-four-description p {
  margin: 7%;
}


.white-wine-wheel-image {
  width: 60%;
  height: 60%;
}

.wine-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  border: 5px solid #8860d0;
  background-color: #84ceeb;
  border-radius: 15px;
  flex-basis: 80%;
  margin: 10px 20%;
  padding: 15px;
}

.description-image {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
  flex-basis: 500px;
}

.description-image img {
  border-radius: 15px;
  width: 200px;
}

.description-info {
  flex-basis: 500px;
  text-align: left;
}

nav {
  margin-bottom: 60px;
  border-bottom: 5px solid #5ab9ea;
  border-radius: 15px
}

nav h1 {
  font-family: 'Elsie Swash Caps', cursive;
  font-size: 60px;
  text-shadow: -2px -2px 0 #84ceeb, 2px -2px 0 #84ceeb, -2px 2px 0 #84ceeb, 2px 2px 0 #84ceeb;
}

nav h3 {
  font-family: 'Oldenburg', cursive;
  font-size: 30px;
}

nav li {
  font-family: 'Oldenburg', cursive;
  display: inline;
  font-size: 25px;
  margin: 0 15px;
}

nav a {
  border-bottom: 1px solid #453886;
  color: #453886;
  padding-bottom: .25em;
  text-decoration: none;
}

nav a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}

/* Hover effect for Nav a taken from: https: //css-tricks.com/having-fun-with-link-hover-effects/ */

.footer {
  font-family: 'Oldenburg', cursive;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.about img {
  border: 5px solid #8860d0;
  border-radius: 15px;
  margin: 20px auto;
}

.about p {
  font-family: 'KoHo', sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 50%;
  margin: 0 auto;
  text-align: justify;

}

.color-choice-prompt h3 {
  font-family: 'Oldenburg', cursive;
  font-size: 30px;
}

main {
  min-height: 55vh;
}


@media only screen and (max-width: 600px) {
  .wine-one {
    flex-direction: column;
  }

  .wine-style-choice-white .wine-one-button {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 15px;
    margin-bottom: 0 !important;
  }

  .wine-style-choice-white .wine-one-description {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 15px;
    margin-top: 0 !important;
    flex-basis: 100px !important;
    font-size: 20px !important;
  }

  .wine-two {
    flex-direction: column !important;
  }

  .wine-style-choice-white .wine-two-button {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 15px;
    margin-bottom: 0 !important;
  }

  .wine-style-choice-white .wine-two-description {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 15px;
    margin-top: 0 !important;
    flex-basis: 100px !important;
    font-size: 20px !important;
  }

  .wine-three {
    flex-direction: column !important;
  }

  .wine-style-choice-white .wine-three-button {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 15px;
    margin-bottom: 0 !important;
  }

  .wine-style-choice-white .wine-three-description {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 15px;
    margin-top: 0 !important;
    flex-basis: 100px !important;
    font-size: 20px !important;
  }

  .wine-four {
    flex-direction: column !important;
  }

  .wine-style-choice-white .wine-four-button {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 15px;
    margin-bottom: 0 !important;
  }

  .wine-style-choice-white .wine-four-description {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 15px;
    margin-top: 0 !important;
    flex-basis: 100px !important;
    font-size: 20px !important;
  }

  .wine-style-choice-red .wine-one-button {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 15px;
    margin-bottom: 0 !important;
  }

  .wine-style-choice-red .wine-one-description {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 15px;
    margin-top: 0 !important;
    flex-basis: 100px !important;
    font-size: 20px !important;
  }

  .wine-style-choice-red .wine-two-button {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 15px;
    margin-bottom: 0 !important;
  }

  .wine-style-choice-red .wine-two-description {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 15px;
    margin-top: 0 !important;
    flex-basis: 100px !important;
    font-size: 20px !important;
  }

  .wine-style-choice-red .wine-three-button {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 15px;
    margin-bottom: 0 !important;
  }

  .wine-style-choice-red .wine-three-description {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 15px;
    margin-top: 0 !important;
    flex-basis: 100px !important;
    font-size: 20px !important;
  }

  .wine-style-choice-red .wine-four-button {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 15px;
    margin-bottom: 0 !important;
  }

  .wine-style-choice-red .wine-four-description {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 15px;
    margin-top: 0 !important;
    flex-basis: 100px !important;
    font-size: 20px !important;
  }

  nav h3 {
    font-size: 25px !important;
  }

  nav {
    margin-bottom: 10px;
  }

  .wine-style-choice-red h1 {
    font-size: 26px;
  }

  .wine-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    border: 5px solid #8860d0;
    background-color: #84ceeb;
    border-radius: 15px;
    flex-basis: 80%;
    margin: 10px 10%;
    padding: 15px;
  }

  .description-image {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    flex-basis: 100px;
  }

  .description-image img {
    border-radius: 15px;
    width: 100%;
  }

  .description-info {
    flex-basis: 100px;
    text-align: left;
  }

  .description-info h3 {
    text-align: center;
  }

}