/* * {
  border: 1px solid red;
} */

body {
  background-color: #C1c8e4
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.matt-image {
  width: 30%;
}

.wine-color {
  display: flex;
  margin: 15px;
}

.red-wine-glass {
  border: 5px solid #8860d0;
  border-radius: 15px;
  width: 80%;
  height: 80%;
}


.white-wine-glass {
  border: 5px solid #8860d0;
  border-radius: 15px;
  width: 80%;
  height: 80%;
}

.wine-style-red {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.red-wine-wheel-image {
  width: 60%;
  height: 60%;
}

.wine-style-white {
  display: flex;
  flex-direction: row;
}

.red-style-choice {}

.red-style-choice .mild-button,
.fruity-button,
.spicy-button,
.powerful-button {
  border: 1px solid black;
}

.red-style-description {}

.red-style-description .mild-description,
.fruity-description,
.spicy-description,
.powerful-description {
  border: 1px solid black;
}

.white-wine-wheel-image {
  width: 60%;
  height: 60%;
}

.wine-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  margin-bottom: 60px;
  border-bottom: 5px solid #5ab9ea;
  border-radius: 15px
}

nav h1 {
  font-family: 'Elsie Swash Caps', cursive;
  font-size: 50px;
  text-shadow: -2px -2px 0 #84ceeb, 2px -2px 0 #84ceeb, -2px 2px 0 #84ceeb, 2px 2px 0 #84ceeb;
}

nav h3 {
  font-family: 'Oldenburg', cursive;
  font-size: 30px;
}

nav li {
  font-family: 'Oldenburg', cursive;
  display: inline;
  font-size: 20px;
  margin: 0 15px;
}

.footer {
  font-family: 'Oldenburg', cursive;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.about img {
  border: 5px solid #8860d0;
  border-radius: 15px;
  margin: 20px auto;
}

.about p {
  font-family: 'KoHo', sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 50%;
  margin: 0 auto;
  text-align: justify;

}