/* * {
  border: 1px solid red;
} */

body {
  background-color: #C1c8e4
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.matt-image {
  width: 30%;
  max-width: 300px;
}

.wine-color {
  /* display: flex; */
  margin: 15px;
}

.wine-glasses {
  display: flex;
  align-content: center;
  justify-content: center;

}

.wine-glasses a {
  min-width: 200px;
  max-width: 400px;
  flex-basis: auto;
  /* default value */
  flex-grow: 1;
}

.red-wine-glass {
  border: 5px solid #8860d0;
  border-radius: 15px;
  width: 80%;
  height: 80%;
}


.white-wine-glass {
  border: 5px solid #8860d0;
  border-radius: 15px;
  width: 80%;
  height: 80%;
}

.wine-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.red-wine-wheel-image {
  width: 60%;
  height: 60%;
}


.wine-style-choice {
  display: flex;
  flex-direction: column;
  /* margin: 0 50px 0 50px; */
  justify-content: center;
  align-content: center;
  flex-basis: 80%;
}

.wine-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.wine-one a {
  flex-basis: 50%;
  max-width: 500px;
}

.wine-two a {
  flex-basis: 50%;
  max-width: 500px;
}

.wine-three a {
  flex-basis: 50%;
  max-width: 500px;
}

.wine-four a {
  flex-basis: 50%;
  max-width: 500px;
}

.wine-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.wine-three {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.wine-four {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.wine-style-choice .wine-one-button,
.fruity-button,
.spicy-button,
.powerful-button {
  border: 1px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  flex-basis: 500px;
  /* width: 500px ; */
  margin: 15px 0;
  padding: 15px;
}

.wine-style-choice .mild-description,
.fruity-description,
.spicy-description,
.powerful-description {
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-basis: 500px;
  margin: 15px 0;
  text-align: justify;

}

.mild-description p {
  margin: 7%;
}

.fruity-description p {
  margin: 7%;
}

.spicy-description p {
  margin: 7%;
}

.powerful-description p {
  margin: 7%;
}


.white-wine-wheel-image {
  width: 60%;
  height: 60%;
}

.wine-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  margin-bottom: 60px;
  border-bottom: 5px solid #5ab9ea;
  border-radius: 15px
}

nav h1 {
  font-family: 'Elsie Swash Caps', cursive;
  font-size: 50px;
  text-shadow: -2px -2px 0 #84ceeb, 2px -2px 0 #84ceeb, -2px 2px 0 #84ceeb, 2px 2px 0 #84ceeb;
}

nav h3 {
  font-family: 'Oldenburg', cursive;
  font-size: 30px;
}

nav li {
  font-family: 'Oldenburg', cursive;
  display: inline;
  font-size: 20px;
  margin: 0 15px;
}

.footer {
  font-family: 'Oldenburg', cursive;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.about img {
  border: 5px solid #8860d0;
  border-radius: 15px;
  margin: 20px auto;
}

.about p {
  font-family: 'KoHo', sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 50%;
  margin: 0 auto;
  text-align: justify;

}